@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Lato:wght@300&family=Manrope:wght@300&family=Oswald:wght@200);

body {
    font-family: comfortaa, sans-serif;
    color:blueviolet;
}

h1, h2, h3 {
    font-family: manrope, sans-serif;
}

nav {
    float:right;
    font-size: 110%;
    letter-spacing: 1px;
    padding-top: 50px;
    display: inline-block;
}
a {
    text-decoration: none;
    color:blueviolet;
}

.logo {
    text-align: center;
    font-size: 300%;
    display: inline-block;
}

img {
    max-width: 200%;
    max-height: 100%;
    border-radius: 15px;
    display: inline-block;
}

.cover-text {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
	border-radius: 8px;
	width: 600px;
	margin: 1%;
	background-color: rgb(93, 30, 210);
    color: antiquewhite;
    float: right;
    display: inline-block;
    
}

.read-more {
    color: antiquewhite;
    text-decoration: underline;
}

.cover-image {
    height: 500px;
    width: 500px;
    padding-left: 30px;
}

nav > a:hover {
    background-color: rgb(93, 30, 210);
    color: antiquewhite;
}

.contact-form {
    color: antiquewhite;
    background-color: rgb(93, 30, 210);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-right: 50%;
    text-align: center;
    border-radius: 10px;
}

.text {
    background: transparent;
    color: antiquewhite;
    width: 20%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid antiquewhite;
    border-radius: 2px;
}

.text-input {
    background: transparent;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 2px;
    height: 100px;
    width: 650px;
}

::placeholder {
    color: antiquewhite;
    font-family: comfortaa, sans-serif;
    padding-left: 5px;
    padding-top: 6px;
}

.submit-button {
    border: 2px solid antiquewhite;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 80%;
    background-color: rgb(93, 30, 210);
    color: antiquewhite;
    display: block;
    position: relative;
    left: 805px;
    margin-right: 20px;
    font-family: comfortaa, sans-serif;
}

.submit-button:hover {
    background-color: antiquewhite;
    color: rgb(93, 30, 210);
}