@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Lato:wght@300&family=Manrope:wght@300&family=Oswald:wght@200);

body {
    font-family: comfortaa, sans-serif;
    color:blueviolet;
}

h1, h2, h3 {
    font-family: manrope, sans-serif;
}

nav {
    float:right;
    font-size: 110%;
    letter-spacing: 1px;
    padding-top: 4rem;
    margin-right: 3.125rem;
}

a {
    text-decoration: none;
    color:blueviolet;
}

.logo {
    text-align: center;
    font-size: 325%;
    display: inline-block;
    margin-left: 3.125rem;
}

img {
    max-width: 200%;
    max-height: 100%;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    left: 11rem;
    z-index: -1;
    margin-top: 1.25rem;
}

.cover-text {
    padding-left: 0.62rem;
    padding-bottom: 0.62rem;
    padding-right: 0.31rem;
	border-radius: 0.5rem;
	width: 37.5rem;
	margin-top: 5.62rem;
	background-color: rgb(93, 30, 210);
    color: antiquewhite;
    float: right;
    position: relative;
    right: 25rem;
}

.read-more {
    color: antiquewhite;
    text-decoration: underline;
}

.cover-image {
    height: 31.25rem;
    width: 31.25rem;
    padding-left: 1.87rem;
}

nav > a:hover {
    background-color: rgb(93, 30, 210);
    color: antiquewhite;
}

.contact-form {
    color: antiquewhite;
    background-color: rgb(93, 30, 210);
    padding-top: 0.31rem;
    padding-bottom: 1.25rem;
    text-align: center;
    border-radius: 10px;
    margin-top: 5.62rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}

.text {
    background: transparent;
    color: antiquewhite;
    width: 20%;
    height: 1.56rem;
    margin: 5px 0 20px 0;
    border: 1px solid antiquewhite;
    border-radius: 2px;
}

.text-input {
    background: transparent;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    border-radius: 2px;
    height: 6.25rem;
    width: 40.62rem;
}

::placeholder {
    color: antiquewhite;
    font-family: comfortaa, sans-serif;
    padding-left: 5px;
    padding-top: 6px;
}

.submit-button {
    border: 2px solid antiquewhite;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 80%;
    background-color: rgb(93, 30, 210);
    color: antiquewhite;
    display: block;
    position: relative;
    left: 80rem;
    bottom: 2.5rem;
    margin-right: 1.25rem;
    font-family: comfortaa, sans-serif;
}

.submit-button:hover {
    background-color: antiquewhite;
    color: rgb(93, 30, 210);
}

.social-networks {
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 200%;
    margin-top: 6.25rem;
    margin-bottom: 0.31rem;
    padding: 3.12rem;
    color: rgb(93, 30, 210);
}

footer > h4 {
    text-align: center;
    position: relative;
    top: 8.75rem;
}

.what-section {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
    text-align: justify;
    margin-top: 5rem;
}

.tips-section {
    margin-left: 200px;
    margin-right: 200px;
    text-align: justify;
    margin-top: 80px;
}

@media screen and (max-width: 1440px) {

    .cover-text {
        position: relative;
        left: 3rem;
    }

    @media screen and (max-width: 768px) {

        nav {
            font-size: 110%;
            padding-top: inherit;
            margin-left: inherit
        }

        .what-section {
            margin-top: 10rem;
        }

        .submit-button {
            position: relative;
            left: 38rem;
            margin-top: 4rem;
        }

        img {
            width: inherit;

        }

        .cover-text {
            width: auto;
        }

@media screen and (max-width: 425px){

    .cover-text {

        width:auto

    }

    .what-section {
        margin-top: 15rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .tips-section {
        margin-top: 4rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .text-input {
        width: 20rem;
    }

    .submit-button {
        position: relative;
        left: 17rem;
    }