@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Lato:wght@300&family=Manrope:wght@300&family=Oswald:wght@200);

body {
    font-family: comfortaa, sans-serif;
    color:blueviolet;
}

h1, h2, h3 {
    font-family: manrope, sans-serif;
}

nav {
    float:right;
    font-size: 110%;
    letter-spacing: 1px;
    padding-top: 50px;
    display: inline-block;
}
a {
    text-decoration: none;
    color:blueviolet;
}

.text-center {
    text-align: center;
    font-size: 300%;
    display: inline-block;
}

img {
    max-width: 200%;
    max-height: 100%;
    border-radius: 15px;
    display: inline-block;
}

.cover-text {
    float: right;
    padding-left: 10px;
	border-radius: 8px;
	width: 600px;
	margin: 1%;
	background-color: rgb(93, 30, 210);
    color: antiquewhite;
    display: inline-block;
}

.cover-image {
    height: 500px;
    width: 500px;
    padding-left: 30px;
}